/* Custom Local Font */
@font-face {
    font-family: bloody;
    src: url("BLoodytype.otf");
}

/* Page background */
body {
    background: #0d0d0d;
    margin: 0;
    font-family: 'Creepster', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-image: url(redbackground.jpg);
    background-size: cover; /* Scale to fill screen */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling */}

/* Main card */
.card {
    background: #1a1a1a;
    border: 4px solid darkred;
    border-radius: 15px;
    padding: 20px;
    width: 900px;
    height: 500px;
    display: flex;
    gap: 20px;
    color: orange;
}

/* p5 canvas box */
.canvas {
    width: 500px;
    height: 500px;
    border: 3px solid darkred;
}

/* Right column text */
.text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Title styling */
.title {
    font-family: bloody, 'Creepster', cursive;
    font-size: 60px;
    color: #630000;
    margin: 0 0 15px 0;
}

/* Description paragraph */
.desc {
    font-size: 18px;
    line-height: 1.3em;
    margin-bottom: 20px;
}

/* Table styling */
table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

th, td {
    border: 2px solid darkred;
    padding: 8px;
    background: #262626;
}

/* Button */
.btn {
    background: darkred;
    color: orange;
    padding: 15px;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background: #a00000;
}

