/* My download Font */
@font-face {
    font-family: bloody;
    src: url("Bloodytype.otf") format('opentype');
}


body {
    background: #0d0d0d;
    margin: 0;
    font-family: 'Creepster', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-image: url(pics/redbackground.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; }

/* Main card */
.card {
    background: #1a1a1a;
    border: 4px solid darkred;
    border-radius: 15px;
    padding: 20px;
    width: 900px;
    height: 500px;
    display: flex;
    gap: 20px;
    color: orange;
}

/* p5 canvas box */
.canvas {
    width: 500px;
    height: 500px;
    border: 3px solid darkred;
}

/* Right column text */
.text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Title styling */
.title {
    font-family: bloody, 'Creepster', cursive;
    font-size: 60px;
    color: #630000;
    margin: 0 0 15px 0;
}

/* Description paragraph */
.desc {
    font-size: 18px;
    line-height: 1.3em;
    margin-bottom: 20px;
}

/* Table styling */
table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

th, td {
    border: 2px solid darkred;
    padding: 8px;
    background: #262626;
}

/* Button */
.btn {
    background: darkred;
    color: orange;
    padding: 15px;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background: #a00000;
}
a {
  position: relative;
  padding: 20px 50px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 100px;
  overflow: hidden;
  border-radius: 40px;
}

a span {
  position: relative;
  color: orange;
  font-size: 20px;
  font-family: Arial;
  letter-spacing: 8px;
  z-index: 1;
}
/* Button Animation */
a .liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 200px;
  height: 200px;
  background: #860000;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
  transition: .5s;
}

a .liquid::after,
a .liquid::before {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}

a .liquid::before {
  
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

a .liquid::after {
  
  border-radius: 40%;
  background: rgba(20, 20, 20, .5);
  animation: animate 10s linear infinite;
}

a:hover .liquid{
  top: -120px;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}




